{% extends 'base.html.twig' %}

{% block title %}Update Email{% endblock %}

{% block body %}
    <div class="email-container">
        <p class="title">
            <a href="{{ frontendUrl }}/profile?username={{ username }}">{{ username }}</a> {{ status }} "<a
                    href="{{ frontendUrl }}/event/{{ event['id'] }}">{{ event['title'] }}</a>"
        </p>

        <div class="description">
            <p>{{ event['description'] }}</p>
        </div>


        <p class="location"><strong>Location:</strong> {{ event['location'] }}</p>
        <p class="date"><strong>Date:</strong> {{ event['dateString'] }}</p>
        <p class="time"><strong>Time:</strong> {{ event['timeString'] }}</p>
        <p class="categories"><strong>Categories:</strong> {{ event['categories'] }}</p>
        <p class="audience"><strong>Audience:</strong> {{ event['audience'] }}</p>

        <p class="link"><a href="{{ frontendUrl }}/event/{{ event['id'] }}">Go to Event</a></p>

    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .email-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f4f4f9;
            border-radius: 8px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            font-family: 'Arial', sans-serif;
            color: #333;
            font-size: 18px;
        }

        a {
            color: #007BFF;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .description {
            padding-top: 1em;
            padding-bottom: 1em;
            border-radius: 8px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            width: 100%;
            background-color: #fafaff;
        }

        .description > p {
            padding: 1em;
        }

        .link {
            padding-top: 1em;
            font-size: 12px;
        }
    </style>
{% endblock %}